CONNECTION_URI = "Your MongoDB Connection URI" # Example: mongodb://localhost:27017/
DATABASE_NAME = "Your Database Name" # Example: rooba
SECRET_KEY = "Your Secret Key" # Example: 123456
ACCESS_TOKEN_SECRET = "Your Access Token Secret" # Can be generated using seceretGenerator.js